<?xml version="1.0" ?>
<launch>
  <arg name="outdoornav_enabled" value="$(optenv OUTDOORNAV_ENABLED false)" />
  <arg name="outdoornav_config"  value="$(optenv OUTDOORNAV_CONFIGURATION observer)" />
  <arg name="bms_num"            default="0" />

  <group if="$(arg outdoornav_enabled)">
    <node name="indoornav_husky_power_monitor" pkg="topic_tools" type="relay"
      args="/onboard_systems/bms_$(arg bms_num)/state /bms/battery_status">
    </node>
  </group>
  <group unless="$(arg outdoornav_enabled)">
    <node name="indoornav_husky_power_monitor" pkg="cpr_indoornav_husky" type="husky_power_monitor" />
  </group>

  <node pkg="topic_tools" type="relay" name="export_rocksteady_battery_relay"
        args="/bms/battery_status /export/rocksteady/bms/battery_status" />
</launch>
